* {
    margin: 0;
    padding: 0;
}

body {
    /* This way footer stays at the bottom */
    position: relative;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    max-width: 1273px;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #13315C;    
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    color: #6F8695;
}

h3 {
    font-size: 24px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #9BBC6B;    
}

.button-with-arrow {
    color: #FFFFF0;
    padding: 11px 8px;
    font-weight: 700;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #AF000F;
    border-radius: 12px;
    border: 0;
    text-decoration: none;
    align-items: center;
    display: flex;
    width: fit-content;
}

.button-with-arrow > img {
    margin-left: 5px;
}

/* NAVIGATION STYLES */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 33px;
    background-color: #FFFFF0;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #13315C;
    text-decoration: none;
    position: relative;
}

.nav-link:first-of-type {
    margin-right: 23px;
}

.nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #13315C;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after { 
    width: 100%; 
    left: 0; 
}

#hamburger {
    display: none;
}

#nav-logo-mobile {
    display: none;
    height: 57px;
}

/* FOOTER STYLES */

footer {
    display: flex;
    height: 362px;
    background-color: #FFFFF0;
    padding: 0 50px;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.contact {
    display: flex;
    flex-direction: column;
}

.social-media {
    margin-bottom: 56px;
}

.social-media > a {
    margin-right: 11px;
}

.social-media > a:last-of-type {
    margin-right: 0;
}

.mobile-and-mail > section {
    display: flex;
    align-items: center;
}

.mobile-and-mail > section:first-of-type {
    margin-bottom: 20px;
}

.contact-icon {
    margin-right: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.links > a {
    display: block;
}

.info-part {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.info-part > * {
    width: calc(100%/3);
}

.logo {
    text-align: center;
}

.footer-info {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #13315C;
}

.footer-link {
    text-decoration: none;
}

.copyright-section {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #13315C;    
    text-align: center;
    margin: auto;
}

.horizontal-line {
    width: 100%;
    background-color: #F5E2DF;
    height: 2px;
}

/* TOP PICKS STYLES */

.product-cards {
    display: flex;
    justify-content: space-between;
}

.product-card {
    height: 514px;
    width: 351px;
    border-radius: 15px;
    background-color: #FFF1F0;
    padding-left: 16px;
}

.card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 345px;
    margin-top: 19px;
    margin-bottom: 18px;
}

.card-header {
    margin-bottom: 5px;
}

.card-description {
    margin-bottom: 8px;
}

.price-and-cta {
    display: flex;
    align-items: center;
    padding-right: 16px;
    justify-content: space-between;
}

.top-picks > h1 {
    margin-bottom: 17px;
}

/* INFO CARDS STYLING */

.info-cards {
    margin-top: 60px;
    margin: 60px 20px 140px 20px;
}

.info-cards > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info > a {
    width: 277px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-top: 51px;
}

.info > h1 {
    margin-bottom: 29px;
}

.info {
    margin-left: 29px;
}

.desktop-image {
    height: 437px;
    border-radius: 15px;
    border: 3px solid #F5E2DF;
}

.info-cards > article:nth-of-type(2) {
    flex-direction: row-reverse;
}

.info-cards > article:nth-of-type(2) > .info {
    margin-left: 0;
    margin-right: 29px;
}

.mobile-image {
    display: none;
}

@media (max-width: 1300px) {
    .top-picks {
        margin: 0 20px;
    }

    .product-card {
        height: 445px;
        width: 291px;
        padding-left: 13px;
    }
    
    .card-header {
        font-size: 18px;
    }

    .card-description {
        font-size: 16px;
    }

    .card-image {
        height: 288px;
    }
}

@media (max-width: 980px) {
    /* NAVIGATION STYLES */

    nav {
        padding: 0 13px;
        height: 57px ;
    }

    #nav-logo {
        height: 35px;
    }

    .nav-links {
        display: none;
    }

    #nav-logo-mobile.active {
        margin-top: 20px;
        display: block;
    }

    .nav-links.active {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #FFFFF0;
        width: 100vw;
        align-items: center;
        z-index: 2;
    }

    .nav-link:first-of-type {
        margin: 34px 0px;
    }

    /* Hamburger Menu */
    #hamburger {
        display: block;
        cursor: pointer;
        z-index: 3;
    }
      
    .bar1, .bar2, .bar3 {
        width: 22px;
        height: 2px;
        background-color: #13315C;
        margin: 5px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-4px, -2px);
        transform: rotate(45deg) translate(-4px, -2px);
    }

    /* FOOTER STYLES */

    footer {
        height: auto;
        padding: 0;
    }

    .info-part {
        flex-direction: column;
    }

    .info-part > * {
        width: 100%;
    }

    .contact {
        align-items: center;
    }

    .links {
        align-items: center;
    }

    .links > a {
        margin-bottom: 15px;
    }

    .copyright-section {
        margin: 28px auto;
        font-size: 18px;
    }

    .logo {
        margin: 20px;
        height: 135px;
    }

    .product-cards {
        flex-direction: column;
        align-items: center;
    }
    
    .product-cards > * {
        margin-bottom: 12px;
    }

    .top-picks > h1 {
        text-align: center;
    }

    .top-picks {
        margin: 0 10px;
    }

    
    /* INFO CARDS STYLING */

    .info-cards {
        margin: 0;
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        height: 287px;
        border-radius: 15px;
        border: 3px solid #F5E2DF;
        margin: 5px auto 10px auto;
        
    }

    .info {
        margin-left: auto;
        margin-right: auto;
    }

    .info-cards > article:nth-of-type(2) > .info {
        margin-left: auto;
        margin-right: auto;
    }

    .info > a {
        margin: 36px auto 86px auto;
    }

    .info > p {
        width: 293px;
    }
}