* {
    margin: 0;
    padding: 0;
}

body {
    /* This way footer stays at the bottom */
    position: relative;
    height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    padding: 0 33px;
    background-color: #FFFFF0;
}

.nav-link {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #13315C;
    text-decoration: none;
    position: relative;
}

.nav-link:first-of-type {
    margin-right: 23px;
}

.nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #13315C;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-link:hover:after { 
    width: 100%; 
    left: 0; 
}

#hamburger {
    display: none;
}

#nav-logo-mobile {
    display: none;
    height: 57px;
}

footer {
    display: flex;
    height: 362px;
    background-color: #FFFFF0;
    padding: 0 50px;
    flex-direction: column;
    bottom: 0;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.contact {
    display: flex;
    flex-direction: column;
}

.social-media {
    margin-bottom: 56px;
}

.social-media > a {
    margin-right: 11px;
}

.social-media > a:last-of-type {
    margin-right: 0;
}

.mobile-and-mail > section {
    display: flex;
    align-items: center;
}

.mobile-and-mail > section:first-of-type {
    margin-bottom: 20px;
}

.contact-icon {
    margin-right: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
}

.links > a {
    display: block;
}

.info-part {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

.info-part > * {
    width: calc(100%/3);
}

.logo {
    text-align: center;
}

.footer-info {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #13315C;
}

.footer-link {
    text-decoration: none;
}

.copyright-section {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #13315C;    
    text-align: center;
    margin: auto;
}

.horizontal-line {
    width: 100%;
    background-color: #F5E2DF;
    height: 2px;
}

@media (max-width: 880px) {
    nav {
        padding: 0 13px;
        height: 57px ;
    }

    #nav-logo {
        height: 35px;
    }

    .nav-links {
        display: none;
    }

    #nav-logo-mobile.active {
        margin-top: 20px;
        display: block;
    }

    .nav-links.active {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: #FFFFF0;
        width: 100vw;
        align-items: center;
        z-index: 2;
    }

    .nav-link:first-of-type {
        margin: 34px 0px;
    }

    /* Hamburger Menu */
    #hamburger {
        display: block;
        cursor: pointer;
        z-index: 3;
    }
      
    .bar1, .bar2, .bar3 {
        width: 22px;
        height: 2px;
        background-color: #13315C;
        margin: 5px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-4px, -2px);
        transform: rotate(45deg) translate(-4px, -2px);
    }

    footer {
        height: auto;
        padding: 0;
    }

    .info-part {
        flex-direction: column;
    }

    .info-part > * {
        width: 100%;
    }

    .contact {
        align-items: center;
    }

    .links {
        align-items: center;
    }

    .links > a {
        margin-bottom: 15px;
    }

    .copyright-section {
        margin: 28px auto;
        font-size: 18px;
    }

    .logo {
        margin: 20px;
        height: 135px;
    }
}

/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */