.input {
    border-radius: 15px;
    border: 1px solid #13315C;
    color: #13315C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    padding: 6px;
}

.input > img {
    margin-right: 15px;
}

.input-with-label > h3 {
    margin-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.input-with-label {
    margin: 0 auto;
    width: 48%;
    margin-top: 160px;
    margin-bottom: 21px;
}

header {
    background-image: url("/images/normal-blur.png");
    height: 356px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header > img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
}

.map {
    position: relative;
    margin: 0 20px;
}

.map > a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 26px;
}

.map > img {
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-top: 35px;
    margin-bottom: 50px;
    text-align: center;
}

.link {
    text-decoration: underline;
    color: #AF000F;
}


@media (max-width: 980px) {
    .input-with-label {
        width: 90%;
        margin-top: 100px;
    }

    .input-with-label > h3 {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 16px;
    }

    .input {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 14px;
    }
    
    .input > img {
        height: 18px;
        margin-right: 5px;
    }

    header > img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -45px;
        width: 75%;
    }
    
    .map > a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 16px;
        height: 20px;
        font-size: 8px;
        padding: 0 5px;
    }    

    .map > a > img {
        height: 10px;
    }

    h1 {
        font-size: 14px;
    }
    
}